<footer class="footer py-4 mt-5 border-top">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-center">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-center">
          ©<script>
             document.write(new Date().getFullYear())
           </script>, Made with <i class="material-symbols-rounded" style="color:rgb(163, 0, 0); vertical-align: middle; font-size: 1.1rem;">favorite</i> by
          <a href="https://www.metricvibes.com" class="font-weight-bold" target="_blank">Metric Vibes.</a>
        </div>
      </div>
    </div>
  </div>
</footer>
